/*  ------------- HEADER -------------  */
h1 {
    margin-left: 2rem ;
    font-size: 3vmax;

}

ul {
    padding-top: 1rem;
    font-size: 1.1rem;;
}
ul li {

}
/*  ------------- MAIN -------------  */


/*  ------------- FOOTER -------------  */
